##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [15]:
#Code goes here
var1 = None
print(type(var1))
print(var1)

var2 = ""
print(type(var2))
print(var2)

<class 'NoneType'>
None
<class 'str'>

2. > Create a variable containing your name (Points : 5)

In [5]:
nama = "Cagiva Chaedar Bey Lirna"
nama

'Cagiva Chaedar Bey Lirna'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [4]:
classroom = ['Whiteboard', 'Pen', 'Chair', 'Table', 'Window']
type(classroom)
classroom

['Whiteboard', 'Pen', 'Chair', 'Table', 'Window']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [2]:
#Code goes here
bio={
    "name":["Cagiva Chaedar Bey Lirna"],
    "age":[20]
}

print(bio)

{'name': ['Cagiva Chaedar Bey Lirna'], 'age': [20]}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [72]:
#Fungsi hitung total uang yang harus dibayar customer
def paybill():
    price = 12000
    quantity_sold = 20
    total_payment = price * quantity_sold #Total bayar sebelum di diskon
    disc = total_payment * 0.1 #Menghitung diskon yang didapat
    payment_fin = total_payment - disc #Menghitung total bayar akhir setelah diskon
    print(payment_fin)

In [73]:
paybill()

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [34]:
# Create list of countries in the world (total 7 countries) (Points : 5)
ngr = ['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Brunei Darussalam', 'Vietnam']
print(ngr)
type(ngr)
#Code goes here

['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Brunei Darussalam', 'Vietnam']

list

In [38]:
# Get 4 countries from the first index of the list (Points : 5)
ngr[:4]
#Code goes here

['Indonesia', 'Malaysia', 'Singapore', 'Thailand']

In [42]:
# Append new country to the list (Points : 5)
ngr.append("Timor Leste")
ngr.insert(8, 'Arab')
print(ngr)
#Code goes here

['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Brunei Darussalam', 'Vietnam', 'Timor Leste', 'Timor Leste', 'Arab', 'Timor Leste']

In [47]:
# Drop one country from the list (Points : 5)
ngr.remove('Timor Leste')
del ngr[4]
print(ngr)
#Code goes here

['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Vietnam']

In [48]:
# Get country in the last index (Points : 5)
print(ngr[4])
#Code goes here

Vietnam

# Dictionary Data Operation

6. >  Follow the instructions below

In [92]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

type(customer)

dict

In [89]:
# Print all keys in customer (Points : 5)
customer
#Code goes here

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [67]:
# Print all customer names (Points : 5)
print(customer["name"])
#Code goes here

['Dio', 'Eka', 'Wayu', 'Riki']

In [68]:
# Print the first customer name (Points : 5)
print((customer["name"])[0])
#Code goes here

Dio

In [69]:
# Drop "age" key from the dictionary (Points : 5)
del customer["age"]
#Code goes here

In [70]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [104]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 
customer["gender"] = ['Male', "Female", "Female", "Male"]

customer
#Code goes here

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

## Latihan - Tahun Kabisat

In [84]:
tahun=int(input("Masukkan tahun yang ingin dicek:")) #Input tahun
#Cek tahun yang dimasukkan apakah termasuk tahun kabisat atau tidak menggunakan if-else
if(tahun%4==0 and tahun%100!=0 or tahun%400==0):
    print(str(tahun) + " merupakan tahun kabisat")
else:
    print(str(tahun) + " bukan merupakan tahun kabisat")

Masukkan tahun yang ingin dicek:2019
2019 bukan merupakan tahun kabisat